* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  color: rgb(80, 80, 80);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 110px;
  background-color: rgb(37, 208, 214);
}

.header {
  display: flex;
  justify-content: space-between;
}

.img-logo {
}

nav {
  display: flex;
  align-items: center;
}
.navegacao {
  display: flex;
}
.navegacao li {
  list-style: none;
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
}

.navegacao li a {
  text-decoration: none;
  color: aliceblue;
  transition: 1s;
}

.navegacao li a:hover {
  color: black;
}
/*############## HEADER #############################*/

.main {
  background-image: url("../assets/recepcao2.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  object-fit: cover;
}
.main-titulo {
  display: flex;
  align-items: center;
  height: 90%;
  color: aliceblue;
}

.main-titulo h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 3px 3px 4px rgb(150, 199, 223);
}
/*############## MAIN #############################*/

section .sobre {
  text-align: center;
  margin-bottom: 40px;
}

section .sobre h2 {
  margin: 80px 0 30px;
  font-size: 30px;
}

section .sobre p {
  font-size: 18px;
}

.sobre-lista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-titulo-e-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-titulo-e-lista div h3 {
  margin-bottom: 20px;
}

.sobre-titulo-e-lista div ul li {
  margin-bottom: 5px;
}

/*############## ESPECIALIDADES #############################*/

.especialidade {
  text-align: center;
}

.especialidade h3 {
  margin: 30px 0 20px;
}
.especialidade p {
  margin: 0px 0 25px;
}

.especialidade-imagem {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.especialidade-imagem figure {
  margin: 15px 20px 30px 10px;
  box-shadow: 1px 1px 10px rgb(23, 70, 71);
}
.especialidade-imagem figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.especialidade-imagem figure figcaption {
  font-weight: bold;
  margin: 12px;
}

.horarios {
  display: flex;
  margin: 25px;
  justify-content: center;
}

.horarios a {
  background-color: rgb(37, 208, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
}

/*############## CONTATO #############################*/

.contato {
  margin-top: 50px;
  text-align: center;
}

.contato h3,
p {
  margin-bottom: 20px;
}

iframe {
  margin: 30px 0 70px 0;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(23, 70, 71);
}

/*############## RODAPE #############################*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(38, 116, 117);
  color: white;
  font-weight: bold;
}

footer div img {
  margin-top: 20px;
}

/*############## MEDIA QUERY #############################*/

@media screen and (max-width: 425px) {
  header {
    height: 150px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    border-top: 1px solid rgb(133, 132, 132);
    padding-top: 10px;
  }
  /*############## HEADER ^ #############################*/

  .main {
    height: 200px;
  }
  .main-titulo h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-shadow: 3px 3px 4px rgb(150, 199, 223);
  }

  .sobre-img img {
    display: none;
  }

  section .sobre {
    text-align: center;
    margin-bottom: 40px;
  }

  section .sobre h2 {
    margin: 80px 0 30px;
    font-size: 20px;
  }

  section .sobre p {
    font-size: 16px;
    padding: 0 15px;
  }

  .sobre-titulo-e-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre-titulo-e-lista div h3 {
    margin-bottom: 22px;
    text-align: center;
    font-size: 18px;
  }

  .sobre-titulo-e-lista div ul li {
    margin-bottom: 7px;
    font-size: 14px;
    margin-left: 13px;
  }

  .especialidade p {
    margin: 0px 0 25px;
    padding: 0 5px;
  }

  .especialidade-imagem {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
  }

  .especialidade-imagem figure img {
    object-fit: cover;
  }
  .iframe {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 80%;
  }

  contato {
    margin-top: 50px;
    text-align: center;
  }

  .contato h3,
  p {
    margin-bottom: 20px;
    padding: 0 18px;
  }

  .contato p {
    font-size: 15px;
  }

  /*############## CONTEUDO ^ #############################*/

  /*############## FOOTER ^ #############################*/
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    height: 150px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    border-top: 1px solid rgb(133, 132, 132);
    padding-top: 10px;
  }

  .main-titulo h1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    text-shadow: 3px 3px 4px rgb(150, 199, 223);
  }
  .main {
    height: 300px;
  }

  section .sobre {
    text-align: center;
    margin-bottom: 40px;
  }

  section .sobre h2 {
    margin: 80px 0 30px;
    font-size: 20px;
  }

  section .sobre p {
    font-size: 16px;
    padding: 0 10px;
  }

  .sobre-titulo-e-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre-titulo-e-lista div h3 {
    margin-bottom: 22px;
    text-align: center;
    font-size: 18px;
  }

  .sobre-titulo-e-lista div ul li {
    margin-bottom: 7px;
    font-size: 14px;
  }

  .sobre-img img {
    display: none;
  }

  .especialidade-imagem {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
  }

  .especialidade-imagem figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  figure {
    width: calc(100% / 2.4);
  }

  .iframe {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 80%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    height: 400px;
  }

  .especialidade-imagem {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
  }

  figure {
    width: calc(100% / 2.3);
  }

  .especialidade-imagem figure img {
    width: 100%;
    object-fit: cover;
  }

  .iframe {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 80%;
  }
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoria ul {
  display: flex;
}

.categoria ul li {
  list-style: none;
  margin: 20px 15px;
  border-bottom: 2px solid rgb(11, 168, 216);
  padding-bottom: 4px;
}

.categoria ul li a {
  font-size: 17px;
  color: rgb(80, 80, 80);
  text-decoration: none;
}
.categoria ul li a:hover {
  color: rgb(21, 143, 214);

  transition: 1s;
}

main div h1 {
  display: flex;
  justify-content: center;
  margin: 30px 0px 50px;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0px 5px;
}

section div h2 {
  margin: 20px 0px;
}

.conf-table {
  display: flex;
  height: 240px;
  margin-bottom: 50px;
}

.conf-table img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.conf-table table {
  text-align: left;
  width: 70%;
  height: 100%;
  border-spacing: 0;
}

.conf-table table thead {
  background-color: rgb(37, 208, 214);
}

.conf-table table thead tr th {
  color: white;
  padding: 10px;
  font-weight: 800;
  font-size: 18px;
}

.conf-table table tbody tr td {
  padding: 10px;
  font-size: 16px;
  color: black;
}
.conf-table table tbody tr:nth-of-type(2n + 1) {
  background-color: rgb(143, 143, 143);
}
.conf-table table tbody tr {
  background-color: rgb(226, 226, 226);
}


/*######################### media query especialidade #############################*/
@media screen and (max-width: 425px) {
  .categoria ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .categoria ul li{
    margin: 7px;
  }

  .titulo-h1{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  main div h1{
    margin-bottom: 20px;
  }

  .cabecalho p{
    padding: 0 20px;
  }

  .conf-table{
    display: flex;
    justify-content: center;
    
  }

  .conf-table img{
    display: none;
  }
  .conf-table table{
    width: 100%;
  }

  
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .categoria ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
  }
  .categoria ul li{
    margin: 7px;
  }

  .titulo-h1{
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  main div h1{
    margin-bottom: 20px;
  }

  .cabecalho p{
    padding: 0 20px;
  }
  .conf-table{
    display: flex;
    justify-content: center;
    
  }

  .conf-table img{
    display: none;
  }
  .conf-table table{
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .cabecalho p{
    padding: 0 80px;
  } 

  .conf-table-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .conf-table{
    width: 90%;
  }
}

